doctype html
html(lang="pl")
    head
        title 00008699
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        nav
            ul
                li
                    a(href='/') Zin Service
                li 
                    a(href='/catalog/przyklady') Przykłady
                li  
                    a(href='/catalog/login') Zaloguj
        block content