extends trueLayout3.pug
block content
    <h2 class="headertekst">Zdjęcie numer 13</h2>
    <img src="/images/13.jpg" alt="Strus" style="width:800px;height:700px;">
    <div class="pagination text-center"> 
        <ul>
            <a href="/obrazy/12">&laquo;</a>
            <a href="/obrazy/1">1</a>
            <a href="/obrazy/2">2</a>
            <a href="/obrazy/3">3</a>
            <a href="/obrazy/4">4</a>
            <a href="/obrazy/5">5</a>
            <a href="/obrazy/6">6</a>
            <a href="/obrazy/7">7</a>
            <a href="/obrazy/8">8</a>
            <a href="/obrazy/9">9</a>
            <a href="/obrazy/10">10</a>
            <a href="/obrazy/11">11</a>
            <a href="/obrazy/12">12</a>
            <a class="active" href="#">13</a>
            <a href="#">&raquo;</a>
        </ul>
    </div>