doctype html
html(lang="pl")
    head
        title 00008699
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
    nav 
        <div class="topnav">

            <!-- Centered link -->
            <div class="topnav-centered">
            <a href="/Zin">Zin Service</a>
            </div>

            <!-- Left-aligned links (default) -->
            <a href="/catalog/przyklady" class="active">Przykłady</a>
    
            <!-- Right-aligned links -->
            <div class="topnav-right">
            <a href="/">Wyloguj</a>
            </div>
        </div>
    body
    block content