extends trueLayout2.pug
block content
    body 
        li
            a(href='/obrazy/1') Zdjęcie nr 1 
        li
            a(href='/obrazy/2') Zdjęcie nr 2
        li
            a(href='/obrazy/3') Zdjęcie nr 3 
        li
            a(href='/obrazy/4') Zdjęcie nr 4 
        li
            a(href='/obrazy/5') Zdjęcie nr 5 
        li
            a(href='/obrazy/6') Zdjęcie nr 6
        li
            a(href='/obrazy/7') Zdjęcie nr 7 
        li
            a(href='/obrazy/8') Zdjęcie nr 8 
        li
            a(href='/obrazy/9') Zdjęcie nr 9 
        li
            a(href='/obrazy/10') Zdjęcie nr 10 
        li
            a(href='/obrazy/11') Zdjęcie nr 11
        li
            a(href='/obrazy/12') Zdjęcie nr 12
        li
            a(href='/obrazy/13') Zdjęcie nr 13
