doctype html
html(lang="pl")
    head
        title 00008699
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
    nav 
        <div class="topnav">

            <div class="topnav-centered">
            <a href="/">Zin Service</a>
            </div>
    
    
            <div class="topnav-right">
            <a href="/catalog/login">Logowanie</a>
            <a href="/catalog/register" class="active">Rejestracja</a>

            </div>
        </div>
    body
    block content