doctype html
html(lang="pl")
    head
        <title>Zin Service</title>
        <link rel="icon" type="image/x-icon" href="/images/1.jpg">
        title 00008699
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
    nav 
        <div class="topnav">

            <div class="topnav-centered">
            <a href="/"class="active">Zin Service</a>
            </div>

            <div class="topnav-right">
            <a href="/catalog/login" >Logowanie</a>
            </div>
        </div>
    body
    block content